

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


div.navbar-header1{
    float:right;
    color:#9d9d9d;
    font-size: 15px;
    margin-top:5px;
}       
 
div.formulario{
    margin: 40px;
}

div.elemento-formularios{
    margin:10px;
    text-align: left;
}













