

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


 
div.formulario{
    margin: 40px;
}

div.elemento-formularios{
    margin:10px;
    text-align: left;
}













